<div class="row-fluid">
  <div class="span3">
    <h4>Adressbuch</h4>
    <div class="well">
      Das zentrale Adressbuch. Der eigene Eintrag kann mit dem Account Editor bearbeitet werden.
      <br/><br/><br/><br/>
      <a class="btn btn-primary" href="https://account.piratenfraktion-nrw.de/address_book/show">Zum Adressbuch</a>
    </div>
  </div>
  <div class="span3">
    <h4>Zimbra/Webmail</h4>
    <div class="well">
      Unser E-Mailsystem, darüber kannst du E-Mails, Kalender und Kontakte verwalten.
      <br/><br/><br/><br/>
      <a class="btn btn-primary" href="https://webmail.piratenfraktion-nrw.de">Webmailer aufrufen</a>
    </div>
  </div>
  <div class="span3">
    <h4>Wiki</h4>
    <div class="well">
      In unserem Wiki findest du Protokolle, Anleitungen und viele andere speicherwürdige Dinge.
      <br/><br/><br/><br/>
      <a class="btn btn-primary" href="https://wiki.piratenfraktion-nrw.de">Zum Wiki</a>
    </div>
  </div>
  <div class="span3">
    <h4>Redmine</h4>
    <div class="well">
      Redmine ist eine Projekt- und Aufgabenverwaltungsanwendung.
      Außerdem sind dort Aktuelle Umlaufbeschlüsse und anderes zu sehen.
      <br/><br/><br/>
      <a class="btn btn-primary" href="https://redmine.piratenfraktion-nrw.de">Zum Redmine</a>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span3">
    <h4>Pad</h4>
    <div class="well">
      Über das Pad können viele Menschen gleichzeitig an einem Text arbeiten.
      Pads sind nicht zur dauerhaften Speicherung geeignet, überführt wichtige Pads anschließend bitte ins Wiki.
      <br/><br/>
      <a class="btn btn-primary" href="https://pad.piratenfraktion-nrw.de">Zum neuen Pad</a>
    </div>
  </div>
  <div class="span3">
    <h4>Blog/Website</h4>
    <div class="well">
      Die Fraktionswebsite. Die Pressestelle ist für die Inhalte zuständig.
      <br/><br/><br/><br/>
      <a class="btn btn-primary" href="http://www.piratenfraktion-nrw.de">Zur Website</a>
      <a class="btn btn-primary" href="https://www.piratenfraktion-nrw.de/wp-admin/">Zum Blog-Dashboard</a>
    </div>
  </div>
  <div class="span3">
    <h4>Account Editor</h4>
    <div class="well">
      Mit dem Account Editor kannst du deinen Eintrag im Fraktionsadressbuch bearbeiten.
      Bitte achte darauf, dass dein Eintrag möglichst vollständig ist.
      <br/><br/><br/>
      <a class="btn btn-primary" href="https://account.piratenfraktion-nrw.de">Zum Account Editor</a>
    </div>
  </div>
  <div class="span3">
    <h4>Jabber</h4>
    <div class="well">
			Jabber ist ein Kurznachrichtendienst über den man einfach und schnell mit Menschen in Kontakt treten kann.
			Auf Landtagshardware muss leider der Weblclient benutzt werden, allen anderen empfehlen wir Pidgin.
      <br/><br/>
      <a class="btn btn-primary" href="https://jabber.piratenfraktion-nrw.de">Zum Webclient</a>
      <a class="btn btn-primary" href="https://wiki.piratenfraktion-nrw.de/wiki/HowTo:IT/Jabber">Anleitung</a>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span3">
    <h4>Owncloud</h4>
    <div class="well">
      Über die Owncloud kann man Dateien hochladen, die dann mit anderen geteilt werden können.
      <br/><br/><br/><br/>
      <a class="btn btn-primary" href="http://cloud.piratenfraktion-nrw.de">Zur Owncloud</a>
    </div>
  </div>
<div class="span3">
    <h4>Mailinglisten</h4>
    <div class="well">
      Die öffentlichen Diskussionslisten der Fraktion.
      <br/><br/><br/><br/><br/>
      <a class="btn btn-primary" href="/dashboard/lists">Zur Übersicht</a>
    </div>
  </div>
  <div class="span3">
    <h4>Sonstiges</h4>
    <div class="well">
      <ul>
        <li><a href="https://wiki.piratenfraktion-nrw.de/wiki/Datei:Infototholz_IT.pdf">Infototholz</a></li>
        <li><a href="https://wiki.piratenfraktion-nrw.de/wiki/Kategorie:Protokoll">Protokolle im Wiki</a></li>
        <li><a href="http://antragsfabrik.de" title="Antragsfabrik im Piratenwiki">Antragsfabrik der Fraktion im Piratenwiki</a></li>
        <li><a href="http://timer.piratenfraktion-nrw.de" title="FraSiTimer">FraSiTimer</a></li>
      </ul>
      <p>
        Sonstige Anleitungen und Hilfeseite im <a href="https://wiki.piratenfraktion-nrw.de/">Wiki</a>
      </p>
    </div>
  </div>
  <!--div class="span3">
    <h4>Account Editor</h4>
    <div class="well">
      Mit dem Account Editor kannst du deinen Eintrag im Fraktionsadressbuch bearbeiten.
      Bitte achte darauf, dass dein Eintrag möglichst vollständig ist.
      <br/><br/><br/>
      <a class="btn btn-primary" href="https://account.piratenfraktion-nrw.de">Zum Account Editor</a>
    </div>
  </div>
  <div class="span3">
    <h4>Sonstiges</h4>
    <div class="well">
      <ul>
        <li><a href="https://wiki.piratenfraktion-nrw.de/images/c/c7/Infototholz.pdf">Infototholz</a></li>
        <li><a href="https://wiki.piratenfraktion-nrw.de/wiki/Kategorie:Protokoll">Protokolle im Wiki</a></li>
      </ul>
      <p>
        Sonstige Anleitungen und Hilfeseite im <a href="https://wiki.piratenfraktion-nrw.de/">Wiki</a>
      </p>
    </div>
  </div -->
</div>
