<div class="row-fluid">
<div class="span5">
  <h3>Piratenfraktion NRW &dash; Dashboard</h3>
  <p>
    Willkommen auf der Startseite der Piratenfraktion NRW.
  </p>
  <p>
    Hier findest du Übersichten zu den wichtigsten Fraktionsdiensten.
  </p>
</div>
</div>
<div class="row-fluid">
  <div class="span3">
    <h4>Mailinglisten</h4>
    <div class="well">
      Die öffentlichen Diskussionslisten der Fraktion.<br/><br/><br/><br/>
      <a class="btn btn-primary" href="/dashboard/lists">Zur Übersicht</a>
    </div>
  </div>
  <div class="span3">
    <h4>Zimbra/Webmail</h4>
    <div class="well">
      Unser E-Mailsystem, darüber kannst du E-Mails, Kalender und Kontakte verwalten.<br/><br/><br/>
      <a class="btn btn-primary" href="https://webmail.piratenfraktion-nrw.de">Webmailer aufrufen</a>
    </div>
  </div>
  <div class="span3">
    <h4>Wiki</h4>
    <div class="well">
      In unserem Wiki findest du Protokolle, Anleitungen und viele andere speicherwürdigen Dinge.<br/><br/><br/>
      <a class="btn btn-primary" href="https://wiki.piratenfraktion-nrw.de">Zum Wiki</a>
    </div>
  </div>
  <div class="span3">
    <h4>Redmine</h4>
    <div class="well">
      Redmine ist eine Projekt- und Aufgabenverwaltungsanwendung. Außerdem sind dort Aktuelle Umlaufbeschlüsse und anderes zu sehen.<br/><br/>
      <a class="btn btn-primary" href="https://redmine.piratenfraktion-nrw.de">Zum Redmine</a>
    </div>
  </div>
</div>
