<div class="row">
<div class="span5">
  <h3>Piratenfraktion NRW &dash; Dashboard</h3>
  <p>
    Willkommen auf der Startseite der Piratenfraktion NRW.
  </p>
  <p>
    Hier findest du Übersichten zu den wichtigsten Fraktionsdiensten. Benutze das Menü am linken Rand um einen Bereich aufzurufen.
  </p>
</div>
</div>
